{{define "title"}}Neue Note{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>

	<form method="post" action="{{$.CurrentURI}}">
		<div class="form-group">
			<label for="name">Note hinzufügen</label>
			<div><textarea rows="1" class="form-control" id="name" name="name" placeholder="Name" />{{TEXTAREA "name" .item.Name .}}</textarea></div>
			<div><textarea rows="1" class="form-control" id="grade" name="grade" placeholder="Note" />{{TEXTAREA "grade" .item.Grade .}}</textarea></div>
		</div>

		<button type="submit" class="btn btn-success" title="Save" />
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Speichern
		</button>

		<a title="Back" class="btn btn-default" role="button" href="{{$.ParentURI}}">
			<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Zurück
		</a>

		<input type="hidden" name="_token" value="{{$.token}}">
	</form>

	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
